.vditor {
  &-reset {
    &--anchor {
      padding-left: 20px;
    }

    &--error {
      color: $errorColor;
      font-size: 12px;
      display: block;
      line-height: 16px;
    }

    max-width: 860px;
    font-size: 16px;
    color: black;
    padding: 0 10px;
    line-height: 1.6;
    word-spacing: 0px;
    letter-spacing: 0px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    p {
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      line-height: 26px;
      color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 30px;
      margin-bottom: 15px;
      padding: 0px;
      font-weight: bold;
      color: black;

      &:hover .vditor-anchor svg {
        visibility: visible;
      }
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      border-bottom: 2px solid rgb(239, 112, 96);
    }

    h2 .content {
      display: inline-block;
      font-weight: bold;
      background: rgb(239, 112, 96);
      color: #ffffff;
      padding: 3px 10px 1px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      margin-right: 3px;
     }
     h2:after {
      display: inline-block;
      content: "";
      vertical-align: bottom;
      border-bottom: 36px solid #efebe9;
      border-right: 20px solid transparent;
     }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 1rem;
    }

    ul,
    ol {
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 25px;
      color: black;
    }

    ul {
      list-style-type: disc;
    }
    
    ul ul {
      list-style-type: circle;
    }
    
    ul ul ul {
      list-style-type: square;
    }

    ol {
      list-style-type: decimal;
    }

    li section {
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 26px;
      text-align: left;
      color: rgb(1,1,1); 
      font-weight: 500;
    }


    li + li {
      margin-top: 0.25em;
    }
    
    blockquote {
      display: block;
      font-size: 0.9em;
      overflow: auto;
      overflow-scrolling: touch;
      border-left: 3px solid rgb(239, 112, 96);
      color: #6a737d;
      padding: 10px 10px 10px 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      background: #fff9f9;

      & > :first-child {
        margin-top: 0
      }

      & > :last-child {
        margin-bottom: 0
      }
    }

    blockquote p {
      margin: 0px;
      color: black;
      line-height: 26px;
    }

    a {
      text-decoration: none;
      word-wrap: break-word;
      font-weight: bold;
      // border-bottom: 1px solid #1e6bb8;
      color: rgb(239, 112, 96);
      // border-bottom: 1px solid rgb(239, 112, 96);
    }

    p code,
    li code {
      font-size: 14px;
      word-wrap: break-word;
      padding: 2px 4px;
      border-radius: 4px;
      margin: 0 2px;
      color:  rgb(239, 112, 96);;
      background-color: rgba(27,31,35,.05);
      font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
      word-break: break-all;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    img.emoji {
      cursor: auto;
      max-width: 20px;
      vertical-align: sub;
    }

    table {
      display: table;
      text-align: left;

      tr {
        border: 0;
        border-top: 1px solid #ccc;
        background-color: white;
      }

      tr th,
      tr td {
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-align: left;
      }

      tr th {
        font-weight: bold;
        background-color: #f0f0f0;
      }

      tbody tr:nth-child(2n) {
        background-color: #F8F8F8;
      }
    }

    span code, #write li code {
      color: rgb(239, 112, 96);
    }
    
    audio {
      max-width: 100%;

      &:focus {
        outline: none;
      }
    }

    video {
      max-height: 90vh;
      max-width: 100%;
    }

    hr {
      height: 2px;
      padding: 0;
      margin: 24px 0;
      background-color: #eaecef;
      border: 0;
    }


    ins > iframe {
      border: 0;
    }

    iframe {
      border: 1px solid #d1d5da;
      max-width: 100%;
      box-sizing: border-box;

      &.iframe__video {
        min-width: 80%;
        min-height: 36vh;
      }
    }


    code:not(.hljs):not(.highlight-chroma) {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      border-radius: 3px;
      font-family: $font-family-code;
      word-break: break-word;
      background-size: 20px 20px;
      white-space: pre-wrap;
      background-color: rgba(27, 31, 35, .05);

      &.language-mermaid,
      &.language-math,
      &.language-graphviz,
      &.language-echarts,
      &.language-mindmap {
        background-color: rgba(27, 31, 35, .02);
      }
    }

    pre {
      margin: 1em 0;
    }

    pre > code {
      margin: 0;
      font-size: 85%;
      padding: 0.5em;
      border-radius: 5px;
      display: block;
      overflow: auto;
      white-space: pre;
      font-family: $font-family-code;
      background-size: 20px 20px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMVEWAgIBaWlo+Pj7rTFvWAAAAA3RSTlMHCAw+VhR4AAAA+klEQVQoz4WSMW7EQAhFPxKWNh2FCx+HkaZI6RRb5DYbyVfIJXLKDCFoMbaTKSw/8ZnPAPjaH2xgZcUNUDADD7D9LtDBCLZ45fbkvo/30K8yeI64pPwl6znd/3n/Oe93P3ho9qeh72btTFzqkz0rsJle8Zr81OLEwZ1dv/713uWqvu2pl+k0fy7MWtj9r/tN5q/02z89qa/L4Dc2LvM93kezPfXlME/O86EbY/V9GB9ePX8G1/6W+/9h1dq/HGfTfzT3j/xNo7522Bfnqe5jO/fvhVthlfk434v3iO9zG/UOphyPeinPl1J8Gtaa7xPTa/Dk+RIs4deMvwGvcGsmsCvJ0AAAAABJRU5ErkJggg==);
      word-break: initial;
      word-wrap: normal;
    }

    pre:hover div.vditor-copy {
      display: block;
    }

    kbd {
      display: inline-block;
      padding: 3px 5px;
      font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
      line-height: 10px;
      color: #24292e;
      vertical-align: middle;
      background-color: #fafbfc;
      border: solid 1px #d1d5da;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 #d1d5da;
    }

    summary {
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    svg {
      height: auto;
      width: auto;
      stroke-width: initial;
    }

    p:last-child,
    blockquote:last-child,
    pre:last-child,
    ul:last-child,
    ol:last-child,
    hr:last-child {
      margin-bottom: 0;
    }

    .language-echarts,
    .language-mindmap {
      overflow: hidden;
      height: 420px;
    }

    .language-graphviz {
      polygon {
        fill: transparent;
      }

      parsererror {
        overflow: auto;
      }
    }
  }

  &-task {
    list-style: none;

    input {
      margin: 0 .2em .25em -1.6em;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  &-copy {
    position: relative;
    display: none;
    z-index: 1;

    textarea {
      position: absolute;
      left: -100000px;
      height: 10px;
    }

    span {
      cursor: pointer;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }

    svg {
      color: #586069;
      height: 14px;
      width: 14px !important;
      display: block;
      fill: currentColor;
    }
  }

  &-linenumber {
    padding-left: 4em !important;
    position: relative;

    &__rows {
      position: absolute;
      pointer-events: none;
      top: 0.5em;
      left: 0;
      width: 3em; /* works for line-numbers below 1000 lines */
      user-select: none;
      counter-reset: linenumber;

      & > span {
        pointer-events: none;
        display: block;

        &::before {
          counter-increment: linenumber;
          content: counter(linenumber);
          color: rgba(158, 150, 150, 0.38);
          display: block;
          padding-right: 1em;
          text-align: right;
        }
      }
    }
  }

  &-speech {
    position: absolute;
    display: none;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    color: #586069;

    &:hover,
    &--current {
      color: #4285f4;
    }

    svg {
      height: 14px;
      width: 14px;
      fill: currentColor;
      display: block;
      stroke-width: 0;
      stroke: currentColor;
    }
  }

  &-anchor {
    margin-left: 5px;

    &--left {
      float: left;
      padding-right: 4px;
      margin-left: -20px;
    }

    svg {
      visibility: hidden;
    }

    &:hover {
      svg {
        visibility: visible;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-linkcard {
    margin: 31px auto 16px;
    transition: $transition;
    cursor: pointer;
    max-width: 768px;
    padding: 0 10px;

    a {
      border-radius: 3px;
      background-color: #f6f8fa;
      overflow: hidden;
      max-height: 250px;
      display: flex;
      text-decoration: none;
      flex-wrap: wrap-reverse;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .26);
        text-decoration: none;
      }

      &:visited .vditor-linkcard__abstract {
        color: rgba(88, 96, 105, 0.36);
      }
    }

    &__info {
      padding: 10px;
      min-width: 200px;
      box-sizing: border-box;
      flex: 1;
    }

    &__title {
      font-size: 14px;
      font-weight: 400;
      color: #24292e;
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        flex-shrink: 0;
        margin-right: 5px;
      }
    }

    &__abstract {
      word-wrap: break-word;
      word-break: break-all;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 13px;
      color: #586069;
      margin: 5px 0;
    }

    &__site {
      font-size: 12px;
      color: #4285f4;
    }

    &__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      max-width: 250px;
      min-width: 126px;
      cursor: pointer;
      background-color: rgba(88, 96, 105, 0.36);
    }
  }

  &-math mjx-container:focus {
    outline: none;
    cursor: context-menu;
  }

  &-footnotes__goto-ref {
    text-decoration: none;
  }

  &-toc {
    margin-bottom: 16px;
  }
}
